/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(230, 75, 75); /* Añade el punto y coma aquí */
  background-image: url(../img/background.jpg); /* Ruta relativa desde styles.css */
  background-repeat: repeat; /* Repetir la imagen en mosaico */
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
  max-width: 80%; 
  margin: 0 auto;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.textbox {
  background-color: #7aa9ee; 
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px; 
}



/* Estilos del carrusel */
.carousel-content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Color de los controles */
}

/* Estilos para la sección de personajes */
.characters {
  padding: 2em;
  text-align: center;
}

/* Contenedor de las tarjetas de personajes */
.grid {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se envuelvan en múltiples líneas si no caben en una sola */
  justify-content: space-around; /* Distribución equitativa de los elementos con espacio alrededor */
  background-color: #7aa9ee; /* Color de fondo del grid */
  padding: 20px; /* Ajuste de relleno para separación del borde */
  border-radius: 10px; /* Borde redondeado para el grid */
}

/* Estilos para las tarjetas de personajes */
.card {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
