/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(230, 75, 75); /* Añade el punto y coma aquí */
  background-image: url(../img/background.jpg); /* Ruta relativa desde styles.css */
  background-repeat: repeat; /* Repetir la imagen en mosaico */
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
  max-width: 80%; 
  margin: 0 auto;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.textbox {
  background-color: #7aa9ee; /* Color rosa pastel */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px; /* Espacio inferior entre cajas de texto */
}

/* Estilos del carrusel */
.carousel-content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Color de los controles */
}
